body {
  margin: 0;
}

* {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(9, 9, 99);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title h3{
  color: #FFF;
  font-size: 3rem;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 3rem;
  background-color: black;
  margin-top: 1rem;
  width: 75px;
  margin-left: 45px;
}

.buttons {
  margin-top: 0.875rem;
  margin-left: 20px;
  
}

.buttons button {
  background-color: rgb(9, 9, 99);
  border-color: #FFF;
  color: white;
  margin-left: 5px;
}